@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');

.navContainer {
    font-family: 'Ruda', sans-serif;;
    display: flex;
    max-width: 1500px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #373640;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    gap: 5px;
    background-color: #63686E;
}

.searchContainer input {
    background-color: rgb(99, 104, 110);
    color: #B6F7C1;
    border: none;
    height: 20px;
    outline: none;
    font-size: 1em;
}

.searchContainer input::placeholder{
    color: #7e97a6;
}

.searchContainer i {
    color: #B6F7C1;
}

.ulContainer ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

.ulContainer li{
    padding: 10px;
    transition: ease-out .2s;
}

.ulContainer li:hover{
    background-color: #63686E;
    border-radius: 5px;
    transition: ease-in .2s;
}

.ulContainer a {
    text-decoration: none;
    font-size: 1.1em;
    color: #B6F7C1;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.iconsContainer i {
    color:#B6F7C1 ;
}

.logoContainer img{
    height: 90px;
}