.container{
    display: flex;
    align-items: center;
    width: 95%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    /* background-color: red; */
}

.container img{
    margin-left: 5px;
    max-width: 25px;
    max-height: 25px;
    border-radius: 3px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form textarea{
    background-color: #63686e;
    margin-left: 15px;
    width: 90%;
    height:max-content;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: #373640;
    resize: none;
}

.form textarea::placeholder{
    color: #373640;
}

.form button{
    background-color: #63686e;
    border: none;
    border-radius: 5px;
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    color: #373640;
}