.container{
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    min-height: 80px;
    border: solid 1.5px #63686e;
    border-radius: 5px;
    margin-bottom: 10px;
}
.containerImg{
    /* background-color: blueviolet; */
    align-self: flex-start;
    height: 100%;
    width: 75px;
}
.containerImg img{
    margin-left: 5px;
    margin-top: 5px;
    max-width: 25px;
    max-height: 25px;
    border-radius: 3px;
}

.coment{
    /* background-color: green; */
    width: 560px;
    min-height: 50px;
    height:max-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #63686e;

}