.button{
    height: 50px;
    padding: 1rem;
    border-radius: 1rem;
    font-family: "Ruda", sans-serif;
    font-size: 17px;
    cursor: pointer;
    color: rgb(255, 128, 0);;
    background-color: #373640;
    border-color:rgb(255, 128, 0);;
  }