.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #63686e;
    border-radius: 20px;
    width: 80vw;
    height: 100vh;
}

.containerImg{
    width: 90%;
    height: 200px;
    border: 2px solid #63686e;

}
.containerImg img{
    max-width: 120px;
    max-height: 120px;
}

